<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meu Portal Python</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header><h1>Meu Portal Python</h1></header>
  <main>
    <div class="menu">
      <a class="card" href="{{ url_for('calendario_page') }}">📅 Calendário</a>
      <a class="card" href="{{ url_for('qrcode_page') }}">🔳 QR Code</a>
      <a class="card" href="{{ url_for('youtube_page') }}">▶️ YouTube Downloader</a>
      <a class="card" href="{{ url_for('conversor_page') }}">💱 Conversor de Moedas</a>
    </div>
  </main>
</body>
</html>
